html, body {
  font-family: 'Roboto', sans-serif;
  font-size:14px;
  height:100%;
  margin: 0px;
  padding: 0px;
}

/* Toolbar area */

.search-icon {
  top: 10px;
  right: 10px;
}

.cart-icon {
  right:10px;
}

.site-title {
  font-size: 30px;
}

.category-select {
  margin-left:10px !important;
  font-size: 20px;
}

.search-bar {
  top:20px;
  min-width: 50%;
  max-width: 70%;
}

.menu {
  background-color: transparent;
  border: none;
  height: 38px;
  margin: 16px;
  width: 36px;
}

md-toolbar h1 {
  margin: auto;
}

/* Sidenav area */

md-list .md-button {
  color: inherit;
  font-weight: 500;
  text-align: left;
  width: 100%;
}
  md-list .md-button.selected {
    color: #03a9f4;
  }

  md-sidenav  md-list {
    padding: 0px 0px 8px 0px;
  }


/* Primary content area */

#content {
  overflow: hidden;
}

#content  {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 5px;
}

#content .md-button.contact {
  background-color: transparent;
  border: none;
  width: 48px;
  height: 48px;
  margin: 8px auto 16px 0;
  position: absolute;
  top: 10px;
  right: 40px;
}

#content md-icon.avatar {
  margin-top: 10px;
}

#content .md-button.contact > md-icon {
  fill:black;
  width:36px;
  height:36px;
}

md-button.menuBtn > md-icon {
  fill:white;
  width:24px;
  height:24px;
}

#content .md-button.contact:active > md-icon {
  background-color: #dadada;
  border-radius: 75%;
  padding:4px;
  transition: all 100ms ease-out 30ms;
}

#content img {
  display: block;
  height: auto;
  max-width: 500px;
}

/* Utils */

.content-wrapper {
  position: relative;
}

/* Typography support coming in 0.8.0 */

md-toolbar h1 {
  font-size: 1.250em;
  font-weight: 400;
}

.avatar {
  position: relative;
  width: 128px;
  height: 128px;
  border: 1px solid #ddd;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  margin: 0px;
  vertical-align: middle;
  zoom:0.70;
  transform: translateZ(0);
  -webkit-transform: scale(0.70);
  -moz-transform:scale(0.70);
}


md-bottom-sheet  md-icon {
  margin-right:20px;
}

span.name {
  font-weight: bold;
  font-size:1.1em;
  padding-left:5px;
}

.book-thumb {
  width: auto;
  max-height: 150px !important;
  min-height: 150px !important;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.no-flex {
  flex:none !important;
  -webkit-flex:none !important;
}

.display-cards {
  position: relative !important;
  min-height: 300px !important;
  max-height: 300px !important;
}

.wide-cards {
  flex-basis: 300px;
  min-width: 200px;
  max-width: 200px;
}

.thumb-container {
  position: relative !important;
}


.display-list {
  min-width: 200px !important;
  max-width:300px !important;
}

.price {
    border-bottom-left-radius: 0.5em;
  border-top: none;
  border-right: none;
  padding: 2px;
  position: absolute;
  right: -16px;
  background: rgb(205,220,57);
  top: -16px;
  margin-top: 0 !important;
  display: inline;
}

.percent {
    border-bottom-right-radius: 0.5em;
  border-top: none;
  border-right: none;
  padding: 2px;
  position: absolute;
  left: -16px;
  background: rgb(205,220,57);
  top: -16px;
  margin-top: 0 !important;
  display: inline;
}

.md-padding-left {
  padding-left: 0.5em;
  padding-bottom: 0;
  margin-bottom: 0;
}