<ng-include src="'./src/bookstore/container-begin.html'"></ng-include>

<div layout="column">
    <md-card  class="md-whiteframe-z4">
    <md-card-content>
    <section layout="row" layout-sm="column" layout-align="space-between center" layout-wrap>
      <md-button class="md-raised" ng-click="goBack()">Back</md-button>
      <md-button class="md-raised md-primary"
                 ng-click="cart.addToCart(db.selectedBook, null, null, addedToCart)">
        Add to Cart ({{cart.quantityOf(db.selectedBook)}} in cart)
       </md-button>
    </section>
    <hr />
    <div style="position: relative">
    <h3 class="percent-price md-title md-primary">
    <span ng-if="db.selectedBook.percentOff > 0">
    Sale! -{{db.selectedBook.percentOff}}%:
       <strike>{{db.selectedBook.price | currency}}</strike>
        </span>
        <span class="bigger">{{db.getPrice(db.selectedBook) | currency}}</span>
    </h3>
    <img class="book-thumb-large" ng-src="{{ db.selectedBook.thumbUrl }}" alt="{{ db.selectedBook.title }}" />
    <h2 class="md-display-1" style="padding-bottom: 0; margin-bottom: 0">{{db.selectedBook.title}}</h2>
    <h2 class="md-headline" style="display:inline; padding-top: 0; margin-top: 0">Written by {{db.selectedBook.author}}</h2>
    <h2 class="md-title">Released {{db.toDate(db.selectedBook.releaseDate)}}</h2>
    <p class="inline">{{db.selectedBook.description}}</p>
    </div>
    </md-card-content>
    <md-card-content>
    <h2 class="md-display-1 md-padding-left">Other Books You May Like</h2>
      <md-list>
        <div layout="row" layout-md="column" layout-sm="column" layout-align="space-around start">
          <md-list-item class="md-2-line display-list" ng-repeat="book in db.getTop(4,3)">
          <ng-include src="'./src/bookstore/book-thumb.html'"></ng-include>
          </md-list-item>
        </div>
      </md-list>
    </md-card-content>
    </md-card>


</div>


<ng-include src="'./src/bookstore/container-end.html'"></ng-include>
