<ng-include src="'./src/bookstore/container-begin.html'"></ng-include>
<div layout="column">

    <md-card  class="md-whiteframe-z4">
    <md-card-content>
    <section layout="row" layout-sm="column" layout-align="space-between center" layout-wrap>
      <md-button class="md-raised" ng-click="goBack()">Back</md-button>
    </section>
<form name="checkoutForm">
    <h3 class="md-title">Total amount: {{cart.total(cart.content)+checkout.shipping | currency}}</h3>
  <h2 class="md-padding-left">Name</h2>
  <div layout layout-sm="column">
    <md-input-container flex>
      <label>First name</label>
      <input ng-model="checkout.firstName" required name="firstName">
    </md-input-container>
    <md-input-container flex>
      <label>Last Name</label>
      <input ng-model="checkout.lastName" required>
    </md-input-container>
  </div>
  <h2 class="md-padding-left">Shipping Address</h2>
  <md-input-container flex>
    <label>Address</label>
    <input ng-model="checkout.address" required>
  </md-input-container>
  <md-input-container>
    <label>Address 2</label>
    <input ng-model="checkout.address2">
  </md-input-container>
  <div layout layout-sm="column">
    <md-input-container flex>
      <label>City</label>
      <input ng-model="checkout.city" required>
    </md-input-container>
    <md-input-container flex>
      <label>State</label>
      <input ng-model="checkout.state" required>
    </md-input-container>
  </div>
    <md-input-container>
      <label>Postal Code</label>
      <input name="postalCode" ng-model="checkout.postalCode" ng-pattern="/^(\d{5}(-\d{4})?|[A-Z]\d[A-Z] *\d[A-Z]\d)$/" required>
      <div class="errors" ng-messages="checkoutForm.postalCode.$error" ng-if="checkoutForm.postalCode.$dirty && checkoutForm.postalCode.$invalid">
        <div ng-message="pattern">Invalid Postal Code</div>
      </div>
    </md-input-container>

    <md-input-container>
      <md-select placeholder="Chooser shipping option" name="shipping" ng-model="checkout.shipping" required>
        <md-option value="8">Standard Shipping (8$)</md-option>
        <md-option value="25">Express Air Mail (25$)</md-option>
      </md-select>
    </md-input-container>


    <h2 class="md-padding-left">Payment Info</h2>
    <h4 class="md-padding-left">Credit Card</h4>
    <div layout="row">
        <md-input-container flex>
            <label>Name on Card</label>
            <input name="nameOnCard" ng-model="checkout.nameOnCard" required>
        </md-input-container>
       <md-input-container flex>
            <label>Card Number</label>
            <input name="cardNumber" ng-model="checkout.cardNumber" required>
        </md-input-container>
        </div>
        <h4 class="md-padding-left">Expiration Date</h4>
        <div layout="row">
        <md-input-container>
          <md-select placeholder="MM" name="expMonth" ng-model="checkout.expMonth" required>
            <md-option value="1">1</md-option>
            <md-option value="2">2</md-option>
            <md-option value="3">3</md-option>
            <md-option value="4">4</md-option>
            <md-option value="5">5</md-option>
            <md-option value="6">6</md-option>
            <md-option value="7">7</md-option>
            <md-option value="8">8</md-option>
            <md-option value="9">9</md-option>
            <md-option value="10">10</md-option>
            <md-option value="11">11</md-option>
            <md-option value="12">12</md-option>
          </md-select>
        </md-input-container>

        <md-input-container>
          <md-select placeholder="YYYY" name="expYear" ng-model="checkout.expYear" required>
            <md-option value="1">2015</md-option>
            <md-option value="2">2016</md-option>
            <md-option value="3">2017</md-option>
            <md-option value="4">2018</md-option>
            <md-option value="5">2019</md-option>
            <md-option value="6">2020</md-option>
            <md-option value="7">2021</md-option>
          </md-select>
        </md-input-container>
    </div>
    <div layout="column">
    <h3 class="md-title">Total amount: {{cart.total(cart.content)+checkout.shipping | currency}}</h3>
    <a href="#/confirm">
    <md-button class="md-padding-left md-raised md-primary checkoutButton">
        Place Order and Pay Now
    </md-button>
    <md-list>
      <div layout="row" layout-md="column" layout-sm="column" layout-align="start start">
        <md-list-item class="md-2-line display-list" ng-repeat="item in cart.content"
        style="flex: none; -webkit-flex:none; justify-content: flex-start !important; -webkit-justify-content: flex-start !important;"
        ng-init="book = item.book">

        <div >

                    <md-card>
                    <md-card-content>
                    <h3 style="float: left">
                    Quantity: {{item.quantity}}
                <span ng-if="item.quantity >= 1"><br>Item total: {{item.quantity * db.getPrice(book) | currency }}</span>
                </h3>
            </md-card-content>
            <md-button class="md-raised" style="width: 90%">Remove from Cart</md-button>
            </md-card>
                    <md-card class="md-whiteframe-z3 wide-cards">
                    <md-card-content  class="display-cards">
                    <div class = "thumb-container">
                      <img class="book-thumb" ng-src="{{ book.thumbUrl }}" alt="{{ book.title }}" />
                    <h3 class="percent md-title md-primary" ng-if="book.percentOff > 0">
                     -{{book.percentOff}}%!
                    </h3>
                    <h3 class="price md-title md-primary">
                     {{db.getPrice(book) | currency}}
                    </h3>
                      <h3 class="md-subhead">{{book.title | booklimit: 30}}</h3>
                      <h4 class="md-caption">{{db.toDate(book.releaseDate)}}</h4>
                      <p>Author: {{book.author}}</p>
                    </div>
                    </md-card-content>
                     
                    </md-card>
        </div>
                <hr/>
        </md-list-item>
      </div>
    </md-list>
    </a>
    </div>
</form>
  </md-card-content>
  </md-card>
  </div>
<ng-include src="'./src/bookstore/container-end.html'"></ng-include>
