<div layout="column" layout-fill>
  <md-toolbar class="md-tall">
    <div class="md-toolbar-tools">
      <span class="site-title">{{title}}</span>
      <!-- fill up the space between left and right area -->
      <span flex></span>
      <!-- Shopping Cart Icon -->
       <md-button class="md-icon-button cart-icon">
          <md-tooltip>
              Shopping Cart
            </md-tooltip>
            <md-icon class="md-light md-48">
              shopping cart
            </md-icon>
        </md-button>
      </div>

      <!-- Bottom row of top bar -->
      <div class="md-toolbar-tools-bottom">
      <div layout="row">
        <md-select ng-model="category" class="category-select">
          <md-option
            ng-value="c"
            ng-click="goToCategory(c)"
            data-ng-repeat="c in db.categories">
              {{c}}
          </md-option>
        </md-select>


        <!-- Search Bar -->
        <span flex></span>
        <md-autocomplete
          class="search-bar"
            ng-disabled="false"
            md-no-cache="false"
            md-selected-item="selectedSearchItem"
            md-search-text-change="searchTextChange(seachText)"
            md-search-text="searchText"
            md-selected-item-change="selectedItemChange(selectedSearchItem)"
            md-items="book in db.books | bookcontent: searchText"
            md-item-text="book.title"
            md-min-length="1"
            placeholder="Search books!">
          <md-item-template>
            <span md-highlight-text="searchText" md-highlight-flags="^i">{{book.title}}</span>
          </md-item-template>
          <md-not-found>
            No matches found for "{{searchText}}".
          </md-not-found>
        </md-autocomplete>

        <md-button class="md-icon-button search-icon" aria-label="Search!">
          <md-icon>search</md-icon>
        </md-button>
      </div>
      </div>

    </md-toolbar>
    <md-content>

    <h2>Cookbooks</h2>
    <ul>
      <li ng-repeat="book in db.getBooksByCategory(4)">
      {{ book.title }}
    </li>
  </ul>

  <div layout="column">
  <md-card>
    <h2>New Releases</h2>
      <md-list>
        <div layout="row" layout-md="column" layout-align="space-around start">
          <md-list-item class="md-2-line display-list" ng-repeat="book in db.getTop(5,3)">
            <md-card flex>
            <md-card-content  class="display-cards">
            <div class = "thumb-container">
              <img class="book-thumb" ng-src="{{ book.thumbUrl }}" alt="{{ book.title }}" />
              <h3 class="md-subhead">{{book.title | booklimit: 30}}</h3>
              <p>Author: {{book.author}}</p>
            </div>
            </md-card-content>
            </md-card>
          </md-list-item>
        </div>
      </md-list>
  </md-card>

  <md-card>
    <h2>Best Sellers</h2>
    <md-list>
      <div layout="row">
        <md-list-item class="md-2-line" ng-repeat="book in db.getTop(5,4)">
          <span flex>
            <img class="book-thumb" ng-src="{{ book.thumbUrl }}" alt="{{ book.title }}" />
            <h2>{{book.title}}</h2>
            <p>Author: {{book.author}}</p>
          </span>
        </md-list-item>
      </div>
    </md-list>
  </md-card>

  </div>



  <h2>Cart:</h2>
  <ul>
    <li ng-repeat="item in cart.content">
    {{ item.quantity }}x of {{ item.book.title }} at<br>
    <b>{{db.getPrice(item.book) | currency}}</b> each <span ng-if="item.book.percentOff !== 0">({{item.book.percentOff}}% off listing price of {{item.book.price | currency}})</span><br>
    <input value="Remove all from cart" type="button" ng-click="cart.removeFromCart(item.book)">
    </li>
  </ul>
  <h3>Total: {{cart.total(cart.content) | currency}}</h3>

  <h2>Filter:</h2>

  <ul>
    <li ng-repeat="book in db.books | bookcontent: db.keyword">
    {{ book.title }}: {{ db.toDate(book.releaseDate) }} <br>
    <img class="book-thumb" ng-src="{{ book.thumbUrl }}" alt="{{ book.title }}" />
    <br>
    <input value="Add 1 to Cart" type="button" ng-click="cart.addToCart(book, 1)">
    </li>
  </ul>


  </md-content>
</div>
