<ng-include src="'./src/bookstore/container-begin.html'"></ng-include>

  <div layout="column">
    <h2 class="md-display-2 md-padding-left">New Releases</h2>
      <md-list>
        <div layout="row" layout-md="column" layout-sm="column" layout-align="space-around start">
          <md-list-item class="md-2-line display-list" ng-repeat="book in db.getTop(5,3)">
          <ng-include src="'./src/bookstore/book-thumb.html'"></ng-include>
          </md-list-item>
        </div>
      </md-list>

    <h2 class="md-display-2 md-padding-left">Best Sellers</h2>
    <md-list>
      <div layout="row" layout-md="column" layout-sm="column" layout-align="space-around start">
        <md-list-item class="md-2-line" ng-repeat="book in db.getTop(5,4)">
          <ng-include src="'./src/bookstore/book-thumb.html'"></ng-include>
        </md-list-item>
      </div>
    </md-list>

  </div>



  <h2>Cart:</h2>
  <ul>
    <li ng-repeat="item in cart.content">
    {{ item.quantity }}x of {{ item.book.title }} at<br>
    <b>{{db.getPrice(item.book) | currency}}</b> each <span ng-if="item.book.percentOff !== 0">({{item.book.percentOff}}% off listing price of {{item.book.price | currency}})</span><br>
    <input value="Remove all from cart" type="button" ng-click="cart.removeFromCart(item.book)">
    </li>
  </ul>
  <h3>Total: {{cart.total(cart.content) | currency}}</h3>

  <h2>Filter:</h2>

  <ul>
    <li ng-repeat="book in db.books | bookcontent: db.keyword">
    {{ book.title }}: {{ db.toDate(book.releaseDate) }} <br>
    <img class="book-thumb" ng-src="{{ book.thumbUrl }}" alt="{{ book.title }}" />
    <br>
    <input value="Add 1 to Cart" type="button" ng-click="cart.addToCart(book, 1)">
    </li>
  </ul>

<ng-include src="'./src/bookstore/container-end.html'"></ng-include>
