<ng-include src="'./src/bookstore/container-begin.html'"></ng-include>

  <div layout="column">
    <h2 class="md-display-2 md-padding-left">New Releases</h2>
      <md-list>
        <div layout="row" layout-md="column" layout-sm="column" layout-align="space-around start">
          <md-list-item class="md-2-line display-list" ng-repeat="book in db.getTop(5,3)">
          <ng-include src="'./src/bookstore/book-thumb.html'"></ng-include>
          </md-list-item>
        </div>
      </md-list>

    <h2 class="md-display-2 md-padding-left">Best Sellers</h2>
    <md-list>
      <div layout="row" layout-md="column" layout-sm="column" layout-align="space-around start">
        <md-list-item class="md-2-line" ng-repeat="book in db.getTop(5,4)">
          <ng-include src="'./src/bookstore/book-thumb.html'"></ng-include>
        </md-list-item>
      </div>
    </md-list>

  </div>

<ng-include src="'./src/bookstore/container-end.html'"></ng-include>
